{% extends "base.html" %}

{% block title %}Resetar sua senha {% endblock %}
{% block content %}
    <h1>Mudar sua senha</h1>
    {% if validlink %}
        <form method="POST"> {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Mudar senha</button>
        </form>
    {% else %}
        <p>
            O link de redefinição de senha foi invalidado,
            possivelmente porque já foi utilizado.
            Solicite uma nova redefinição de senha.
        </p>
    {% endif %}
{% endblock %}
